
<div class = "site-footer">
 <div class="wrapper">
    <div class="three-section-layout-f">
    <!-- Section 1 -->
    <section class="column">
        <img src="{{site.baseurl}}/assets/images/emblem with name.png"
           alt="FCCLA Logo with the words Kentucky FCCLA"
         >
    </section>

    <!-- Section 2 -->
    <section class="column">
        <a href="{{site.baseurl}}/contact">
          <h2>Contact Us</h2>
        </a>
    </section>

  <!-- Section 3 -->
    <section class="column">
        <a href="https://www.tiktok.com/@yettefccla?_r=1&_t=ZP-931IJExCFyB"
        target="_blank">
          <h2>TikTok</h2>
        </a>
        <a href="https://www.instagram.com/yettefccla?igsh=
        MXFuMWI1YWpzcXgwbw%3D%3D&utm_-source=qr" target="_blank">
          <h2>Instagram</h2>
        </a>
    </section>
    </div>
</div>
</div>