<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2></h2>
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li class="p-name">
     <!--   {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
         {{ site.title | escape }}
        {%- endif -%}
        </li> -->

      {%- if site.email -%}
  <!--      <li>
          <a class="u-email" href="mailto:{{ site.email }}">
            {{ site.email }}
          </a>
        </li> -->
      {%- endif -%}
      <img src="{{site.baseurl}}/assets/images/emblem with name.png"
           alt="FCCLA Logo with the words Kentucky FCCLA"
      >
      <!-- Contact page link -->

    </ul>
  </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}

        <a href="{{site.baseurl}}/contact">
          <h2>Contact Us</h2>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>

        <h2>TikTok link</h2>
        <h2>Instagram link</h2>


      </div> 
    </div>

  </div>

</footer>
