<header class="site-header">
  <div class="wrapper">
    <!--trying home button on the left again-->
    <div class="header-left">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        {{ site.title | escape }}
      </a>
      
      <a class="header-home-link nav-link" href="{{ "/" | relative_url }}">
        Home
      </a>

    </div>
 
    <nav class="site-nav">
      <!-- Mobile toggle -->
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <label for="nav-toggle" class="menu-icon">☰</label>

      <ul class="nav-menu">
        {% for item in site.data.navigation %}
          <li class="nav-item">
            {% if item.children %}
              <details>
                <summary>
                  {% if item.url %}
                    <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  {% else %}
                    {{ item.title }}
                  {% endif %}
                </summary>

                <ul class="sub-menu">
                  {% for child in item.children %}
                    <li>
                      <a href="{{ child.url | relative_url }}">
                        {{ child.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </details>
            {% else %}
              <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
