---
---

@import "minima";


.site-header {
  border-top: 5px solid #FF0000;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: #FF0000;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.image-size-1 {
width: 200;
height: auto;
}

@media screen {
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
}
