---
---

@import "minima";


.site-header {
  border-top: 5px solid #FF0000;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: #FF0000;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.image-size-1 {
width: 200;
height: auto;
}


@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    gap: 0;
  }

  /* Always show submenus */
  .sub-menu {
    display: block;
    position: static;
    border: none;
    background: none;
    margin-left: 1rem;
  }

  /* Parent links look like headings */
  .nav-item > a {
    font-weight: 600;
    margin-top: 1rem;
    display: block;
  }

  /* Disable hover dropdown behavior */
  .nav-item:hover > .sub-menu {
    display: block;
  }

  .sub-menu li a {
    padding: 0.25rem 0;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    gap: 0;
  }

  /* Always show submenus */
  .sub-menu {
    display: block;
    position: static;
    border: none;
    background: none;
    margin-left: 1rem;
  }

  /* Parent links look like headings */
  .nav-item > a {
    font-weight: 600;
    margin-top: 1rem;
    display: block;
  }

  /* Disable hover dropdown behavior */
  .nav-item:hover > .sub-menu {
    display: block;
  }

  .sub-menu li a {
    padding: 0.25rem 0;
    font-weight: normal;
  }
}


